<div class="row" >

  <div class="col-md-6">
<form >
    <label> Name</label>
    <input type="text" [(ngModel)]="name" name="name" >
    <label> Phone Number</label>
<input type="number" [(ngModel)]="phone" name="phone" >
  
<label> Cnic</label>
<input type="number" [(ngModel)]="cnic" name="cnic" >
<label> altnum</label>
<input type="number" [(ngModel)]="altnum" name="altnum" >
<label> start Price</label>
<input type="number" [(ngModel)]="startprice" name="startprice" >
<label> End PRice</label>
<input type="number" [(ngModel)]="endprice" name="endprice" >
<label>Photo</label>
<input type="number" [(ngModel)]="photo" name="photo" >
<label> Experience</label>
<input type="text" [(ngModel)]="experience" name="experience" >
<label> Area</label>
<input type="text" [(ngModel)]="area" name="area" >
<button type="button " (click)="updateUser()" > Update</button>



</form>
</div>
</div>