<div class="container">
    <div class="row">
      <div class="col-md-5">
       <h3>Pending </h3>  
       <ul class="list-group-items">
        
         <li *ngFor="let usr of pending">
            <b>Name:</b>  {{usr.name}} <b>Email:</b> {{usr.email}}  <b>Type:</b> {{usr.type}} 
            <b><i *ngIf='usr.aproved == "pending"' (click)="verify(usr)" > |Yet To Approve|</i></b> 
            <b> <i *ngIf='usr.aproved == "aproved"'>|Approved|</i></b>  
            <b> <i *ngIf='usr.aproved == "pending"' (click)="disAproved(usr)">|Disapprove|</i></b>
            <b> <i *ngIf='usr.aproved == "disaproved"' >|User Disapproved|</i></b>
            <article *ngIf='usr.aproved == "pending"'>
                <b><span>Select Reason of rejection</span></b>
                <select (change)="selectChangeHandler($event)">
                  <option> select Reason</option>
                  <option value="1"> Make Professional Profile </option>
                  <option value="2"> Image is of Bad quality</option>
                  <option value="3"> Rates are Too High </option>
                  <option value="4"> Mobile Numbers are wrong</option>
                  <option value="5"> Description is too Short</option>
                </select>
              </article>
         </li>
       </ul>
      </div>
    </div>
  </div>