<div class="container">
  <button class="btn" type="submit" routerLink="cust">customer</button>
  <button class="btn" type="submit" routerLink="arch">architect</button>
  <button class="btn" type="submit" routerLink="cont">Contractor</button>
  <button class="btn" type="submit" routerLink="aproved">aproved</button>
  <button class="btn" type="submit" routerLink="disaprove" >Disaprove</button>
  <button type="submit" class="btn" routerLink="pending" >Pending</button>
  <button class="btn" type="submit" routerLink="addcontractor" >Add Contractor</button><br>
  <button class="btn" type="submit" routerLink="adddata" >Add Data</button>
  
</div>
<router-outlet></router-outlet>
